# Algoritmos iterativos. Estruturas de repetição.

## while

- Repeats a block of instructions while a given condition remains true.
- Otherwise, branching to the first line of code after this repetition block occurs.

In [1]:
x = 1
while x <= 5:
  print(x)
  x = x + 1

1
2
3
4
5

#### control variable

- Defines the stop condition with which the loop is executed.
- We call _**iterator**_ the control variable that counts the number of times the loop is being executed.

In [3]:
x = 0
while x <= 99:
  print(x)
  x = x + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
x = 0
while x < 100:
  print(x)
  x = x + 1

#### Write an algorithm that prints to the screen only values within a user-specified range that are even numbers (COUNTER)

In [4]:
initial = int(input('What value do you want to start counting? '))
final = int(input('What value do you want to end the count? '))
x = initial
while x <= final:
  if x % 2 == 0:
    print(x)
  x = x + 1

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94

#### Write an algorithm that calculates your grade point average in a given subject. Let's assume that the final average is given by the arithmetic mean of five typed grades. (ACCUMULATOR)

In [6]:
sum = 0
count = 1
while count <= 5:
  x = float(input(f'Enter the {count}th grade: '))
  sum = sum + x
  count = count + 1
avg = round(sum / 5, 2)
print(f'Final average: {avg}')

Final average: 9.36

### Advanced Features and Features of Python Loops

#### special assignment operators

In [7]:
sum = 0
count = 1
while count <= 5:
  x = int(input(f'Enter the {count}th number: '))
  sum += x # equivalent: sum = sum + x
  count += 1 # equivalent: count = count + 1
print(f'Sum: {sum}. ')

Sum: 321.

#### Create an algorithm that receives an integer value via keyboard. However, the program must only accept integer and positive values. Any negative value, or equal to zero, must be rejected by the program and a new value must be requested.

In [8]:
# validating the input
x = int(input('Enter a value greater than zero: '))
while x <= 0:
  x = int(input('Enter a value greater than zero: '))
print(f'You typed {x}. Terminating the program...')

You typed 45. Terminating the program...

#### Write an algorithm that keeps getting phrases or words typed by the user. Quit the program when the word _**exit**_ is typed.

In [9]:
# Breaking a loop with break
print('Enter a message that I will repeat to you!')
print('To close, type "exit".')
while True:
  text = input('')
  print(text)
  if text == 'exit':
    break
print('Closing the Program...')

Enter a message that I will repeat to you!
To close, type "exit".
Thiago Alves
Manowar
Tristania
exit
Closing the Program...

### The _continue_ server command to return the loop to the beginning at any time, regardless of the state of the loop's conditional control variable.

#### Write an algorithm that _login_ into a system. The user must enter his name and password.

In [10]:
# Returning to the beginning of the loop with continue
while True:
  name = input('Whats your name? ')
  if name != 'Little Woodsman':
    continue
  password = input('What is your password? ')
  if password == 'UnInTeR!#$DaTa':
    break
print('Access granted.')

Access granted.

### "Truthy" and "Falsey" values"

- Non-Boolean data can also be treated as True or False in a condition, be it a conditional structure or a loop.
- False / False
   - Number zero (int or float) and empty string.
- Truthy/True
   - Any other data

In [11]:
name = ''
while not name:
  name = input('Enter your name: ')
value = int(input('Enter any number: '))
if value:
  print('You have entered a non-zero value.')
else:
  print('You entered zero.')

You have entered a non-zero value.

## For (to)

- Like _while_, this structure repeats a block of statements while a condition remains true.
- However, unlike _while_, _for_ is used in situations where **the number of times the loop will execute is finite and well defined**.
- Can we set the initial value of the iterator? **Yes**
- Can we set the pitch? **Yes**

In [12]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [13]:
for i in range(1,6,1):
  print(i)

1
2
3
4
5

In [14]:
for i in range(10,0,-2):
  print(i)

10
8
6
4
2

In [15]:
sum = 0
qty = 0
for i in range(1, 101):
  if i % 2 == 0:
    sum += i
    qty += 1
average = sum / qty
print(f'The average of the pairs from 1 to 100 is : {average}')

The average of the pairs from 1 to 100 is : 51.0

#### Nested repeating structures

- We can insert loops inside other loops
- There are no limits to how many loops we can put inside each other
- We can mix _**while**_ and _**for**_.

Write an algorithm in Python that calculates the multiplication table of all numbers from 1 to 10, and for each number, we will calculate the multiplication table by multiplying it by the range from 1 to 10.

- Let's solve in Python, different implementations:
   - 2 - while
   - 2 - for
   - while + for

In [17]:
# 2 while
multiplication_table = 1
while multiplication_table <= 10:
  print(f'TABLE OF {multiplication_table}:')
  i = 1
  while i <= 10:
    print(f'{multiplication_table} x {i} = {multiplication_table * i}')
    i += 1
  multiplication_table += 1

TABLE OF 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
TABLE OF 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
TABLE OF 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
TABLE OF 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
TABLE OF 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
TABLE OF 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
TABLE OF 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
TABLE OF 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
TABLE OF 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
TABLE OF 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [18]:
# 2 for 
for multiplication_table in range (1, 11, 1):
  print(f'TABLE OF {multiplication_table}:')
  for i in range (1, 11, 1):
    print(f'{multiplication_table} x {i} = {multiplication_table * i}')

TABLE OF 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
TABLE OF 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
TABLE OF 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
TABLE OF 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
TABLE OF 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
TABLE OF 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
TABLE OF 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
TABLE OF 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
TABLE OF 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
TABLE OF 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [19]:
# while + for
multiplication_table = 1
while multiplication_table <= 10:
  print(f'TABLE OF {multiplication_table}')
  for i in range (1, 11, 1):
    print(f'{multiplication_table} x {i} = {multiplication_table * i}')
  multiplication_table += 1

TABLE OF 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
TABLE OF 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
TABLE OF 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
TABLE OF 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
TABLE OF 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
TABLE OF 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
TABLE OF 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
TABLE OF 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
TABLE OF 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
TABLE OF 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100