<a href="https://colab.research.google.com/github/tmabgdata/data_analysis/blob/master/pandas_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008. 

By [W3Schools](https://www.w3schools.com/python/pandas/pandas_intro.asp#:~:text=Pandas%20is%20a%20Python%20library,by%20Wes%20McKinney%20in%202008.).

# Pokémon Dataset Analysis

## Access Data

In [1]:
import pandas as pd

In [2]:
# Using csv file translated by the professor of the Uninter University, Leony Gomes
df = pd.read_csv('https://raw.githubusercontent.com/leonhgomes/Pandas/main/pokemon_data.csv')

In [3]:
# checking column name
df.columns.values.tolist()

['#',
 'Nome',
 'Tipo 1',
 'Tipo 2',
 'Vida',
 'Ataque',
 'Defensa',
 'Atq Esp',
 'Def Esp',
 'Velocidade',
 'Geracao',
 'Lendario']

In [4]:
# checking data types
df.dtypes

#              int64
Nome          object
Tipo 1        object
Tipo 2        object
Vida           int64
Ataque         int64
Defensa        int64
Atq Esp        int64
Def Esp        int64
Velocidade     int64
Geracao        int64
Lendario        bool
dtype: object

In [5]:
# replace column names
df.rename(columns={'#':'id_pokédex', 'Nome':'Name', 'Tipo 1':'Type 1', 'Tipo 2':'Type 2',
                   'Vida':'Life', 'Ataque':'Attack', 'Defesa':'Defense', 'Atq Esp':'Spec Att',
                   'Def Esp':'Spec Def', 'Velocidade':'Speed', 'Geracao':'Generation', 'Lendario':'Legend'}, inplace=True)
df.columns.values.tolist()

['id_pokédex',
 'Name',
 'Type 1',
 'Type 2',
 'Life',
 'Attack',
 'Defensa',
 'Spec Att',
 'Spec Def',
 'Speed',
 'Generation',
 'Legend']

In [6]:
# showing the top 3
df.head(3)

,id_pokédex,Name,Type 1,Type 2,Life,Attack,Defensa,Spec Att,Spec Def,Speed,Generation,Legend
0,1,Bulbasaur,Planta,Venenoso,45,49,49,65,65,45,1,False
1,2,Ivysaur,Planta,Venenoso,60,62,63,80,80,60,1,False
2,3,Venusaur,Planta,Venenoso,80,82,83,100,100,80,1,False

In [7]:
# showing the last 3
df.tail(3)

,id_pokédex,Name,Type 1,Type 2,Life,Attack,Defensa,Spec Att,Spec Def,Speed,Generation,Legend
797,720,HoopaHoopa Confined,Psiquico,Fantasma,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psiquico,Noturno,80,160,60,170,130,80,6,True
799,721,Volcanion,Fogo,Agua,80,110,120,130,90,70,6,True

In [8]:
# checking data
df['Type 1'].unique()

array(['Planta', 'Fogo', 'Agua', 'Inseto', 'Normal', 'Venenoso',
       'Electric', 'Terra', 'Fada', 'Lutador', 'Psiquico', 'Pedra',
       'Fantasma', 'Gelo', 'Dragao', 'Noturno', 'Metalico', 'Voador'],
      dtype=object)

In [9]:
# translating to english
df['Type 1'] = df['Type 1'].replace(['Planta','Fogo','Agua','Inseto','Normal','Venenoso',
                      'Eletric','Terra','Fada','Lutador','Psiquico','Pedra',
                      'Fantasma','Gelo','Dragao','Noturno','Metalico','Voador'],
                     ['Grass','Fire','Water','Bug','Normal','Poison',
                      'Eletric','Ground','Fairy','Fighting','Psychic','Rock',
                      'Ghost','Ice','Dragon','Dark','Steel','Flying'])

In [10]:
# checking
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [11]:
# translating to english
df['Type 2'] = df['Type 2'].replace(['Planta','Fogo','Agua','Inseto','Normal','Venenoso',
                      'Eletric','Terra','Fada','Lutador','Psiquico','Pedra',
                      'Fantasma','Gelo','Dragao','Noturno','Metalico','Voador'],
                     ['Grass','Fire','Water','Bug','Normal','Poison',
                      'Eletric','Ground','Fairy','Fighting','Psychic','Rock',
                      'Ghost','Ice','Dragon','Dark','Steel','Flying'])

In [12]:
# checking
df['Type 2'].unique()

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

In [13]:
# replacing null values to 'Normal' value
df['Type 2'].fillna('Normal', inplace = True)

In [14]:
# Select by attribute 
df.loc[df['Type 1'] == 'Psychic']

,id_pokédex,Name,Type 1,Type 2,Life,Attack,Defensa,Spec Att,Spec Def,Speed,Generation,Legend
68,63,Abra,Psychic,Normal,25,20,15,105,55,90,1,False
69,64,Kadabra,Psychic,Normal,40,35,30,120,70,105,1,False
70,65,Alakazam,Psychic,Normal,55,50,45,135,95,120,1,False
71,65,AlakazamMega Alakazam,Psychic,Normal,55,50,65,175,95,150,1,False
104,96,Drowzee,Psychic,Normal,60,48,45,43,90,42,1,False
105,97,Hypno,Psychic,Normal,85,73,70,73,115,67,1,False
131,122,Mr. Mime,Psychic,Fairy,40,45,65,100,120,90,1,False
162,150,Mewtwo,Psychic,Normal,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,Normal,106,150,70,194,120,140,1,True
165,151,Mew,Psychic,Normal,100,100,100,100,100,100,1,False
191,177,Natu,Psychic,Flying,40,50,45,70,45,70,2,False
192,178,Xatu,Psychic,Flying,65,75,70,95,70,95,2,False
211,196,Espeon,Psychic,Normal,65,65,60,130,95,110,2,False
216,201,Unown,Psychic,Normal,48,72,48,72,48,48,2,False
217,202,Wobbuffet,Psychic,Normal,190,33,58,33,58,33,2,False
269,249,Lugia,Psychic,Flying,106,90,130,90,154,110,2,True
271,251,Celebi,Psychic,Grass,100,100,100,100,100,100,2,False
303,280,Ralts,Psychic,Fairy,28,25,25,45,35,40,3,False
304,281,Kirlia,Psychic,Fairy,38,35,35,65,55,50,3,False
305,282,Gardevoir,Psychic,Fairy,68,65,65,125,115,80,3,False
306,282,GardevoirMega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,3,False
356,325,Spoink,Psychic,Normal,60,25,35,70,80,60,3,False
357,326,Grumpig,Psychic,Normal,80,45,65,90,110,80,3,False
391,358,Chimecho,Psychic,Normal,65,50,70,95,80,65,3,False
394,360,Wynaut,Psychic,Normal,95,23,48,23,48,23,3,False
428,386,DeoxysNormal Forme,Psychic,Normal,50,150,50,150,50,150,3,True
429,386,DeoxysAttack Forme,Psychic,Normal,50,180,20,180,20,150,3,True
430,386,DeoxysDefense Forme,Psychic,Normal,50,70,160,70,160,90,3,True
431,386,DeoxysSpeed Forme,Psychic,Normal,50,95,90,95,90,180,3,True
481,433,Chingling,Psychic,Normal,45,30,50,65,50,45,4,False
487,439,Mime Jr.,Psychic,Fairy,20,25,45,70,90,60,4,False
526,475,Gallade,Psychic,Fighting,68,125,65,65,115,80,4,False
527,475,GalladeMega Gallade,Psychic,Fighting,68,165,95,65,115,110,4,False
537,480,Uxie,Psychic,Normal,75,75,130,75,130,95,4,True
538,481,Mesprit,Psychic,Normal,80,105,105,105,105,80,4,True
539,482,Azelf,Psychic,Normal,75,125,70,125,70,115,4,True
546,488,Cresselia,Psychic,Normal,120,70,120,75,130,85,4,False
553,494,Victini,Psychic,Fire,100,100,100,100,100,100,5,True
576,517,Munna,Psychic,Normal,76,25,45,67,55,24,5,False
577,518,Musharna,Psychic,Normal,116,55,85,107,95,29,5,False
586,527,Woobat,Psychic,Flying,55,45,43,55,43,72,5,False
587,528,Swoobat,Psychic,Flying,67,57,55,77,55,114,5,False
622,561,Sigilyph,Psychic,Flying,72,58,80,103,80,97,5,False
635,574,Gothita,Psychic,Normal,45,30,50,55,65,45,5,False
636,575,Gothorita,Psychic,Normal,60,45,70,75,85,55,5,False
637,576,Gothitelle,Psychic,Normal,70,55,95,95,110,65,5,False
638,577,Solosis,Psychic,Normal,45,30,40,105,50,20,5,False
639,578,Duosion,Psychic,Normal,65,40,50,125,60,30,5,False
640,579,Reuniclus,Psychic,Normal,110,65,75,125,85,30,5,False
666,605,Elgyem,Psychic,Normal,55,55,55,85,55,30,5,False
667,606,Beheeyem,Psychic,Normal,75,75,75,125,95,40,5,False
745,677,Espurr,Psychic,Normal,62,48,54,63,60,68,6,False
746,678,MeowsticMale,Psychic,Normal,74,48,76,83,81,104,6,False
747,678,MeowsticFemale,Psychic,Normal,74,48,76,83,81,104,6,False
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True

In [15]:
# some statistics
df.describe()

,id_pokédex,Life,Attack,Defensa,Spec Att,Spec Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

## Ordination

In [16]:
# sort alphabetically | to invert, use the 'ascending' parameter = False
df.sort_values(by=['Name'], ascending = True, ignore_index = True)
df.head(10)

,id_pokédex,Name,Type 1,Type 2,Life,Attack,Defensa,Spec Att,Spec Def,Speed,Generation,Legend
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,Normal,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,Normal,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,Normal,44,48,65,50,64,43,1,False

In [17]:
# creating 'Total Power' column, with the sum of all the data:
df['Total Pw'] = df.iloc[:,4:10].sum(axis = 1)
df.head(5)

,id_pokédex,Name,Type 1,Type 2,Life,Attack,Defensa,Spec Att,Spec Def,Speed,Generation,Legend,Total Pw
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,Normal,39,52,43,60,50,65,1,False,309

In [18]:
# reorder columns
cols = list(df.columns.values)
df = df [cols[0:4] + [cols[-1]] + cols[4:12]]
df.head(5)

,id_pokédex,Name,Type 1,Type 2,Total Pw,Life,Attack,Defensa,Spec Att,Spec Def,Speed,Generation,Legend
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,Normal,309,39,52,43,60,50,65,1,False

# Save File

## Complete Data processing

In [19]:
df.to_csv('pokemon_complete_data_processing.csv')